.frontHome{
    width: 100%;
    height: 100%;
}
.frontHome

img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.text-part{
    position: absolute;
    top:50%;
    left: 40%;
    transform:translate(-50%,-50%);
    width:100%;
}
.text-part p{
    font-size: 1rem;
    font-weight: 800;
    color: #ffffff;
   padding: 1.8rem 2.4rem; }
.text-part h1{
    font-size: 3rem;
    font-weight: 800;
   color:rgb(46, 4, 86) ;}
.text-part .show:hover{
    text-decoration: none ;
    background: #ffffff;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    color:rgb(46, 4, 86);

}
.text-part .show{
    padding-bottom: 20px;
    text-decoration: none ;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color:rgb(46, 4, 86);
}
@media screen and (max-width:850px) {
    
    .text-part{
        margin-top: 150px;
    }
    .text-part h1{
        padding: 10px 20px;
    }
    .text-part p{
        font-size: 1.1rem;
        padding: 0 0 2rem 0;
    }
    .text-part .show{
        padding:0.6rem 1.1rem;
        border-radius: 8px;
        font-size: 1rem;
        background-color: white;
        color: rgb(46, 4, 86);
    }
    .text-part .show:hover{
        padding:0.6rem 1.1rem;
        border-radius: 8px;
        font-size: 1rem;
        background-color: white;
        color: rgb(46, 4, 86);
    }
    
}
/*form contact part*/

.text-part .form-container{
   
    justify-content: center;
    width: 50%;
   margin-left: 25%;
    
    }
    @media screen and (max-width:850){
        .text-part{
width: min-content;
height: min-content;
        }
        
    }
    .form-container ,.login {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    
    }
    
  .form-container   input{
        margin-bottom: 10px;
        height: 40px;
        border-radius: 8px;
       border-width: 2px;
       border-color: rgb(226, 179, 179) ;
    }
   .form-container  input:hover{
        padding-bottom: 5px;
        border-radius: 5px;
       border-width: 7px;
       border-color: rgb(46, 4, 86);
    }
    .form-container   textarea{
        height: 100px;
        margin-bottom: 10px;
       border-width: 2px;
       border-radius: 8px;
       border-color: rgb(226, 179, 179) ;
    }
   .form-container  textarea:hover{
        padding-bottom: 5px;
        border-radius: 5px;
       border-width: 7px;
       border-color: rgb(46, 4, 86);
    }
     input:focus{
        padding-bottom: 5px;
        border-radius: 5px;
       border-width: 7px;
       border-color: rgb(46, 4, 86);
       
    }
     button{
        background-color: rgb(46, 4, 86);
        color: #ffffff ;
        font-style: bold;
        text-align: center;
       
    }
     .lbtn:hover{
        border-radius: 10%;
        text-align: center;
        border-width:5px ;
        border-color: rgb(242, 63, 135);
        background-color: #ffffff;
        color: rgb(242, 63, 135);
        
    }
      .lbtn{
       width:70px;
       height: 30px;
       border-width:0;
       
    }
     .chbtn{
        border-width:0;
        background-color: rgb(226, 179, 179);
        color: rgb(242, 63, 135);}
          .chbtn:hover{
            border-width:0;
            background-color: rgb(226, 179, 179);
            color: #ffffff;}