@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Poppins&display=swap');
*{
  margin:0;
padding:0;
box-sizing: border-box;
}

.App {
  font-family:'Poppins' sans-serif;
  text-align: center;
}



